html { 
  background: url( ../img/uploads/backg.jpg), url(../img/uploads/backg.png ) , url(../img/uploads/backg.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
